name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.8.1
        with:
          ssh-private-key: ${{ secrets.PET_SERVICE_KEY }}

      - name: Deploy to EC2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@oz-withpet.kro.kr << 'EOF'
            cd /home/ubuntu/WithPet-BE
            git pull origin main
            source /home/ubuntu/WithPet-BE/.venv/bin/activate
            pip install -r requirements.txt
            sudo systemctl restart gunicorn
          EOF

